<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-dark text-light vh-100">
            <h4 class="my-4 text-center">Menu</h4>
            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/produtos}">Produtos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/relatorio}">Relatórios</a>
                </li>

            </ul>
        </div>
        <div class="col-10">

            <div class="card mb-4 mt-4">
                <div class="card-header text-center">
                    <h4>Resumo dos Produtos</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Total de Produtos</h5>
                                    <p class="card-text" th:text="${totalProdutos}"></p>
                                    <!-- Aqui o valor do total de produtos -->
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Produtos a Vencer</h5>
                                    <p class="card-text" th:text="${produtosVencer}"></p>
                                    <!-- Aqui o valor de produtos a vencer -->
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Estoque Baixo</h5>
                                    <p class="card-text" th:text="${estoqueBaixo}"></p>
                                    <!-- Aqui o valor de produtos com estoque baixo -->
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Valor Total</h5>
                                    <p class="card-text" th:text="${valorTotal}"></p> <!-- Aqui o valor total dos produtos -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-4">
                <div class="card-header">
                    <h4>Produtos Recentes</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered mt-3">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Data de Validade</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="produto : ${produtosRecentes}">
                            <td th:text="${produto.id}"></td>
                            <td th:text="${produto.nome}"></td>
                            <td th:text="${produto.quantidade}"></td>
                            <td th:text="${produto.dataValidade}"></td>
                            <td>
                                <a class="btn btn-sm btn-primary" th:href="@{/produtos/editar/{id}(id=${produto.id})}">Editar</a>
                                <a class="btn btn-sm btn-danger" th:href="@{/produtos/deletar/{id}(id=${produto.id})}">Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <br>

            <div class="row">
                <!-- Card 1 -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Relatórios</h5>
                        </div>
                        <div class="card-body">
                            <div class="container mt-5">
                                <h4>Relatórios em PDF</h4>
                                <button class="btn btn-outline-secondary" th:onclick="window.location.href='/gerar-pdf'">
                                    Exportar Relatório PDF
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Importar Planilha</h5>
                        </div>
                        <div class="card-body">
                            <div class="container mt-5">
                                <h2>Upload de Planilha Excel</h2>
                                <form method="POST" action="http://localhost:8080/upload" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <input type="file" name="file" class="form-control" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Enviar Planilha</button>
                                </form>

                                <div th:if="${message}" class="alert alert-info mt-3">
                                    <p th:text="${message}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>