<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="shortcut icon" href="/estoque.png">
  <title>Produtos</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<!-- Mensagens de erro e sucesso -->


<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-dark text-light vh-100">
      <div class="d-flex align-items-center justify-content-center my-4">
        <img src="/perfil.png" alt="Ícone de Perfil" style="width: 40px; height: 40px; border-radius: 50%;">
      </div>
      <h4 class="my-4 text-center">Bem vindo, @admin</h4>
      <ul class="nav flex-column">

        <li class="nav-item">
          <a class="nav-link text-light" th:href="@{/}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" th:href="@{/produtos}">Produtos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" th:href="@{/relatorio}">Relatórios</a>
        </li>

      </ul>
    </div>
    <div class="col-10">
      <div class="container mt-5">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Lista de Produtos</h4>
          </div>
          <div class="card-body">
            <form action="#" class="form-inline mb-4" method="get" th:action="@{/produtos/buscar}">
              <input class="form-control mr-2" name="nome" placeholder="Pesquisar por nome" required type="text">
              <button class="btn btn-primary" type="submit">Buscar</button>
              <a class="btn btn-danger ml-2" href="/produtos">X</a>
            </form>

            <table class="table table-bordered">
              <thead class="thead-light">
              <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th>Data de Validade</th>
                <th>Entradas/Saídas</th>
                <th>Ações</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="produto : ${produtos}">
                <td th:text="${produto['id']}"></td>
                <td th:text="${produto['nome']}"></td>
                <td th:text="${produto['quantidade']}"></td>
                <td th:text="${produto['dataValidade']}"></td>
                <td>
                  <form th:action="@{/produtos/entrada/{id}(id=${produto.id})}" method="post" class="d-inline">
                    <input type="number" style="width: 50px;" name="quantidade" min="0" placeholder="0" required>
                    <button class="btn btn-success btn-sm" type="submit">+</button>
                  </form>

                  <!-- Formulário para saída de produtos -->
                  <form th:action="@{/produtos/saida/{id}(id=${produto.id})}" method="post" class="d-inline">
                    <input type="number" style="width: 50px;" name="quantidade" min="0" placeholder="0" required>
                    <button class="btn btn-danger btn-sm" type="submit">-</button>
                  </form>
                </td>
                <td>
                  <a class="btn btn-primary btn-sm" th:href="@{/produtos/editar/{id}(id=${produto.id})}">Editar</a>
                  <a class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este produto?');"
                     th:href="@{/produtos/excluir/{id}(id=${produto.id})}">Excluir</a>
                </td>
              </tr>
              </tbody>
            </table>

            <div>
              <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
                <span th:text="${error}"></span>
                <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div th:if="${success}" class="alert alert-success alert-dismissible fade show">
                <span th:text="${success}"></span>
                <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>


            </div>

            <div class="mb-3">
              <a class="btn btn-success mb-2" href="/produtos/novo">Adicionar Novo Produto</a>
              <a class="btn btn-secondary mb-2" href="/">Voltar</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
